<br> <br> <br> 

<legend class="w3-large">Please Log In:</legend>
<br>
<div class="w3-container w3-blue w3-round w3-small w3-col m3 w3-center">
    
<div class="w3-alert">
<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %></p>
<% end %>
</div>

<%= form_tag do %>


<div class=" w3-panel w3-blue">
<%= label_tag :name, 'Name:' %>
<%= text_field_tag :name, params[:name], class:"w3-input w3-border" %>
</div>

<div class="w3-panel">
<%= label_tag :password, 'Password:' %>
<%= password_field_tag :password, params[:password], class:"w3-input w3-border" %>
</div>

<div class="w3-panel">
<%= submit_tag "Login", class:"w3-button w3-light-gray w3-border" %>
</div>

<% end %>
</div>
